html
  head
    title Public - Title

    block variables
      - var stylesheets = ['main']
      - var scripts = ['vendor-bundle', 'main-bundle']

    script(src='/vendors/jquery/jquery-1.9.1.min.js?v=1.0')
    script(src='/vendors/foundation/js/foundation/foundation.js')

    link(rel='stylesheet', href='/vendors/foundation/css/foundation.css')
    link(rel='stylesheet', href='/vendors/font-awesome/font-awesome.css')

    each stylesheet_url in stylesheets
      link(rel='stylesheet', href='/css/' + stylesheet_url + '.css')
    each script_url in scripts
      script(src='/js/' + script_url + '.js')

  body
    block content

    block scripts
      script.
        $(document).ready(function() {
          MainController.react_data = !{JSON.stringify(react_data)};
          MainController.init();
        });
